{
    broker: {
        listen_addr: ":1883"
        tls_listen_addr: ":8883"
        tls_server_cert: ""
        tls_server_key: ""
        stats_http_listen_addr: "127.0.0.1:9020"
        prof_http_listen_addr: "127.0.0.1:9021"

        // security related
        client_max_subscriptions: 20
        client_max_publish_per_minute: 60

        // max_connections==0 means unlimited
        enable_presence: true
        max_connections: 0
        io_timeout: "3s"
        stats_interval: "10m"
        echo: false
        client_outbound_queue_len: 100
        client_slow_threshold: "100ms"
        // subscriptions_workers=NumCpu
        subscriptions_workers: 4
        subscriptions_queue_len: 500
        buffer_overflow_strategy: "discard"

        allow_anonymous: true
        // The maximum number of QoS 1 or 2 messages to hold in the queue above those messages that are currently in flight
        max_queued_messages: 100
    }

    peers: {
        self_id: 1
        listen_addr: ":9090"
        tcp_nodelay: true
        keepalive: true
        io_timeout: "2s"
        echo: false
        queue_len: 1000
        buffer_overflow_strategy: "discard"
    }

    redis: {
        max_idle: 5
        idle_timeout: "360s"
        server: "localhost:6379"
    }
}
